* {
    margin: 0;
    padding: 0;
}
header {
    background-color: #1ABC9C;
    height: 70px;
}
.wrapper {
    width: 95%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    color: black;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
a:not(:last-child) {
    margin-right: 20px;
}
.social-icon img:not(:last-child) {
    margin-right: 20px;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    color: blueviolet;
    transition: 1s;
}
.about-img {
    width: 50%;    
}
.about-info {
    width: 50%;
    
}
main {
    width: 90%;
    margin: 20px auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: beige;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}
.item {
    width: calc(50% - 20px);
    height: 250px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;
}
.item:hover {
    transform: scale(1.1) rotate(2deg);
}
.item1 {
    background-image: url(../images/img1.png);
}
.item2 {
    background-image: url(../images/img2.png);
}
.item3 {
    background-image: url(../images/img3.jpg);
}
.item4 {
    background-image: url(../images/img4.jpg);
}
.item5 {
    background-image: url(../images/img5.jpg);
}
.item6 {
    background-image: url(../images/img6.jpg);
}
.item7 {
    background-image: url(../images/img7.jpg);
}
.item8 {
    background-image: url(../images/img8.jpg);
}